/* Style the navbar */
body,html {
  overflow-x: hidden;
  overflow-y: visible;
  background-color:#161516;
  margin: 0;
  height: 100%;
  font-family: OKI;
  background-image: url(asset/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Code for the navigation bar */
.navigation-bar{
  position: absolute;
  margin-left: 45%;
  margin-top: 2%;
  float: right;
  z-index: 4;
}

/* Code for the list items */
li{
  float: left;
}

/* Code for each tab link*/
.navbarlinks{
  font-family: 'MadeInChina', sans-serif;
  font-size: 165%;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin-left: 4vh;
  position: relative;
  opacity: 0.75;
}

/* Code for each tab link while hovering*/
.navbarlinks:hover{
  opacity: 1;
}

/* Code for before the underline starts */
.nav-link-ltr::before {
  transition: 300ms;
  width: 0%;
  bottom: 10%;
  height: 4%;
  content: "";
  position: absolute;
  background-color:#c49c48 ;
}

/* Code for after the underline starts while hovering*/
.nav-link-ltr:hover::before {
  width: 100%;
}

/* Code for the logo on the top left of the main page */

#logo{
  width: 7%;
  margin-left: 5%;
  margin-top: 0.5%;
}

@font-face{
  font-family: 'MadeInChina';
  src: url(asset/Fonts/MadeInChina.ttf);
  font-style: normal;
  font-weight: 100;
}

/*CSS for the picture of the plate*/
#foodplate{
  position: absolute;
  margin-top: 3%; 
  transform: rotate(40deg);
  width: 55%;
  margin-left: 38%;
  z-index: 3;
}

#bamboo{
  position: absolute;
  margin-top: 19%;
  position: absolute;
  width: 60%;
}

p {
  color: whitesmoke;
  font-family: 'Staatliches', cursive;
}

#hook{
  position: absolute;
  z-index: 2;
  margin-top: 15%;
  font-weight: bold;
  line-height: 1.0;
  font-size: 8vh;
  margin-left: 5%;
}

/* CSS Code for the footer */

#address{
  position: absolute;
  color: whitesmoke;
  font-family: 'Staatliches', cursive;
  font-weight: normal;
  font-size: 1.3vw;
  margin-top: 65%;
  z-index: 1;
  margin-left: 10%
}

a{
  color: whitesmoke;
}

#phone{
  position: absolute;
  color: whitesmoke;
  font-family: 'Staatliches', cursive;
  font-weight: normal;
  font-size: 1.3vw;
  margin-top: 65%;
  z-index: 0;
  margin-left: 50% 
}

#hours{
  position: absolute;
  color: whitesmoke;
  font-family: 'Staatliches', cursive;
  font-weight: normal;
  font-size: 1.3vw;
  margin-top: 65%;
  z-index: 0;
  margin-left: 75% 
}

