/* Style the navbar */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:#161516;
  margin: 0;
  height: 100%;
  font-family: OKI;
}

.navbar{
  overflow: hidden;
  padding-right: 10vw;
  padding-top: 2vh;
  float: right;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

li{
  float: left;
}

.navbarlinks{
  font-family: 'MadeInChina', sans-serif;
  font-size: 1.6vw;
  padding: 1.5vw 0vh;
  display: block; 
  background-color: none;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  /* padding: 20px 0px; */
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.navbarlinks:hover{
  opacity: 1;
}

.navbarlinks::before{
  transition: 300ms;
  height: 0.5vh;
  content: "";
  position: absolute;
  background-color:red ;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 2.9vh;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

@font-face{
  font-family: 'MadeInChina';
  src: url(asset/Fonts/MadeInChina.ttf);
  font-style: normal;
  font-weight: 100;
}

h1 {
  color: whitesmoke;
}


